{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.12.1"}
        hiccup/hiccup {:mvn/version "2.0.0"}}
 :aliases
 {:dev {:extra-deps {nrepl/nrepl {:mvn/version "1.7.0"}
                     cider/cider-nrepl {:mvn/version "0.59.0"}}
        :main-opts ["-m" "nrepl.cmdline"
                    "--middleware" "[cider.nrepl/cider-middleware]"]}
  :test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1"
                       :git/sha "5e91ee0989d93115cfb5e15b6f242f5ec7ab762e"}}
         :main-opts ["-m" "cognitect.test-runner"]
         :exec-fn cognitect.test-runner.api/test}
  :build {:deps {io.github.clojure/tools.build
                 {:git/tag "v0.10.14"
                  :git/sha "9d08b2a1c8a81d8d147d71d13710a34d7d07d7c7"}}
          :ns-default build}}}
